@media screen and (max-width: 1199px) {
    .my-name {
        font-size: 270%;
    }

    .my-desc {
        font-size: 134%;
    }
}

@media screen and (max-width: 991px) {
    .my-name {
        font-size: 203%;
    }

    .my-desc {
        font-size: 84%;
    }
}

@media screen and (max-width: 767px) {
    .my-desc {
        padding-left: 20%;
    }
}
/* Google Nexus 5 */
@media screen and (max-width: 361px) {
    .my-desc {
        padding-left: 30%;
    }
}